.header {
    background: #185a66;
    height: 100px;
    border-bottom: solid;
    border-color: rgb(65, 87, 3);
    border-width: 5px;
  }
  
  .header h3 {
    margin: 0;
    padding-top: 25px;
    text-align: center;
    color: white;
    font-size: 30px;
    
  }
  